body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* #random {
  height: 500px; 
  width: 800px; 
  margin: 0 auto; 
} */

.highcharts-tooltip>span {
  padding: 10px;
  white-space: normal !important;
  width: 200px;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}

.f32 .flag {
  vertical-align: bottom !important;
}

.ch {
  min-width: 310px; height: 600px; max-width: 600px; margin: 0 auto; border-left: 2px solid black; border-top: 2px solid black; border-right: 2px solid black;
}