extends layout

block content
  p
    | Use the form below to upload a list of countries. Click 
    a(href='/template') here
    |  for an example template.
  // action is where you want to send information to
  form(action='/users', method='POST', enctype='multipart/form-data')
    input(type='file', name='file', accept='*.csv')
    br
    br
    input(type='submit', value='Upload Countries')  