doctype html

html
  head
    title Alliance Dashboard
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/stylesheets/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='/stylesheets/ie9.css')
      
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='http://d3js.org/topojson.v1.min.js')
    script(src='/javascripts/datamaps.world.min.js')
    script(src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
    script(type='text/javascript', src='http://code.highcharts.com/modules/exporting.js')
  body
    nav#nav
      ul.container
        li
          a(href='/') Home

    .wrapper.style1.first
      article#top.contain      
        block content
          .main.container
            .row.middle-xs.around-md 
              .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Log In
                form(method='POST' action='/registrationComplete')
                  div.form-group
                    label(for='confirmEmail') input the user's email
                    input.form-control(type='text' id='confirmEmail' placeholder='email' name='confirmEmail')
                    label(for='confirm') Confrim User
                       button.btn.btn-primary(type='submit') Confrim   
                form(method='GET' action='/deny')
                    div.form-group
                        label(for='deny') Deny User
                            button.btn.btn-primary(type='submit') Deny
      
    
    

      