doctype html
html
  meta(charset='utf-8')
  body
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='http://d3js.org/topojson.v1.min.js')
    script(src='/javascripts/datamaps.world.min.js')
    //h2 Datamaps Playground
    //p
      a(href='http://datamaps.github.io/') DataMaps Project Homepage
    div
      #container1(style='position: relative; width: 80%; min-height: 450px;')
    div
      #zoom_map(style='position: relative; width: 80%; min-height: 450px;')
    
    script.
      //basic map config with custom fills, mercator projection
      var map = new Datamap({
      scope: 'world',
      element: document.getElementById('container1'),
      //- setProjection: function(element) {
      //-   var projection = d3.geo.equirectangular()
      //-     .center([23, -3])
      //-     .rotate([4.4, 0])
      //-     .scale(400)
      //-     .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
      //-   var path = d3.geo.path()
      //-     .projection(projection);

      //-   return {path: path, projection: projection};
      //- },
      projection: 'mercator',
      height: 500,
      fills: {
        defaultFill: '#f0af0a',
        lt50: 'rgba(26, 188, 156,1.0)',
        gt50: 'rgba(231, 76, 60,1.0)'
      },
      data: {
      USA: {fillKey: 'lt50' },
      RUS: {fillKey: 'lt50' },
      CAN: {fillKey: 'lt50' },
      BRA: {fillKey: 'gt50' },
      ARG: {fillKey: 'gt50'},
      COL: {fillKey: 'gt50' },
      AUS: {fillKey: 'gt50' },
      ZAF: {fillKey: 'gt50' },
      MAD: {fillKey: 'gt50' }
      }
      })
      //sample of the arc plugin
      map.arc([
      {
      origin: {
      latitude: 40.639722,
      longitude: 73.778889
      },
      destination: {
      latitude: 37.618889,
      longitude: -122.375
      }
      },
      {
      origin: {
      latitude: 30.194444,
      longitude: -97.67
      },
      destination: {
      latitude: 25.793333,
      longitude: -0.290556
      }
      }
      ], {strokeWidth: 2});
      //bubbles, custom popup on hover template
      map.bubbles([
      {name: 'Hot', latitude: 21.32, longitude: 5.32, radius: 10, fillKey: 'gt50'},
      {name: 'Chilly', latitude: -25.32, longitude: 120.32, radius: 18, fillKey: 'lt50'},
      {name: 'Hot again', latitude: 21.32, longitude: -84.32, radius: 8, fillKey: 'gt50'},
      ], {
      popupTemplate: function(geo, data) {
      return "<div class='hoverinfo'>It is " + data.name + "</div>";
      }
      });

    
    script.
      var zoom = new Datamap({
      element: document.getElementById("zoom_map"),
      scope: 'world',
      // Zoom in on Africa
      setProjection: function(element) {
      var projection = d3.geo.equirectangular()
      .center([23, -3])
      .rotate([4.4, 0])
      .scale(400)
      .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
      var path = d3.geo.path()
      .projection(projection);
      return {path: path, projection: projection};
      },
      fills: {
      defaultFill: '#f0af0a',
      lt50: 'rgba(26, 188, 156,1.0)',
      gt50: 'rgba(231, 76, 60,1.0)',
      gt75: 'rgba(41, 128, 185,1.0)'
      },
      data: {
        TZA: {fillKey: 'gt75' },
        USA: {fillKey: 'lt50' },
        RUS: {fillKey: 'lt50' },
        CAN: {fillKey: 'lt50' },
        BRA: {fillKey: 'gt50' },
        ARG: {fillKey: 'gt50'},
        COL: {fillKey: 'gt50' },
        AUS: {fillKey: 'gt50' },
        ZAF: {fillKey: 'gt50' },
        MAD: {fillKey: 'gt50' }
      }
      });
      zoom.bubbles([
      {name: 'Bubble 1', latitude: 21.32, longitude: -7.32, radius: 45, fillKey: 'gt500'},
      {name: 'Bubble 2', latitude: 12.32, longitude: 27.32, radius: 25, fillKey: 'eq0'},
      {name: 'Bubble 3', latitude: 0.32, longitude: 23.32, radius: 35, fillKey: 'lt25'},
      {name: 'Bubble 4', latitude: -31.32, longitude: 23.32, radius: 55, fillKey: 'eq50'},
      ], {
      popupTemplate: function(geo, data) {
      return "<div class='hoverinfo'>Bubble for " + data.name + "";
      }
      });
