doctype html
html
  head
    title= title
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
    script(type='text/javascript', src='http://code.highcharts.com/modules/exporting.js')
    script(type='text/javascript', src='/javascripts/scripts.js')
    
    script(type='text/javascript').
      $(window).load(function(){
        var data = !{JSON.stringify(data)}
        //console.log(json);
        makeLine(data);

        makePie(data);
      }); // Closes window.load
  body
    //script(src='https://code.highcharts.com/highcharts.js')
    //script(src='https://code.highcharts.com/modules/series-label.js')
    //script(src='https://code.highcharts.com/modules/exporting.js')
    #container(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
    br
    #container1(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')