doctype html
html
  head
    title= title
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
    script(type='text/javascript', src='http://code.highcharts.com/modules/exporting.js')
    script(type='text/javascript', src='/javascripts/scripts.js')
    
    script(type='text/javascript').
      $(window).load(function(){
        var data = !{JSON.stringify(data)}
        //console.log(json);
        makeLine(data);
        makePie();
      }); // Closes window.load

  body

    p
      | Use the form below to upload a list of countries. Click 
      a(href='/template') here
      |  for an example template.
    // action is where you want to send information to
    form(action='/users', method='POST', enctype='multipart/form-data')
      input(type='file', name='file', accept='*.csv')
      br
      br
      input(type='submit', value='Upload Countries')

    #container(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
    br
    #container1(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')